<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <header id="unlogged">
    <h1>Chat App</h1>
    <button @click="$gf.toggleLogIn">
      {{ $gf.me? 'Log Out' : 'Log In' }}
    </button>
    </header>
    <template v-if="$gf.me">
      <div id="stickied">
        <header>
          <h1>Chat App</h1>
          <button @click="$gf.toggleLogIn">
            {{ $gf.me? 'Log Out' : 'Log In' }}
          </button>
          <table>
            <tr>
              <td><b><name :actor="$gf.me"></name></b></td>
              <td rowspan ="3"><profile :actor="$gf.me"></profile></td>
            </tr>
            <tr>
              <td>@{{myUsername}}</td>
            </tr>
            <tr>
              <td><button @click="settings" id="settings">Settings</button></td>
            </tr>
          </table>
        </header>
        <div class="tab">
          <input type="radio" name="css-tabs"  checked class="tab-switch" id="channel" :value="false" v-model="privateMessaging" />
          <label for="channel">Public Chat</label>
  
          <input type="radio" name="css-tabs" class="tab-switch" id="pm" :value="true" v-model="privateMessaging" />
          <label for="pm">Private Messaging</label>
        </div>
      </div>
    
      <div id="settings-modal">
        <div class="modal-content">
          <button id="close-button">X</button>
          <h2>Welcome {{myUsername}}</h2>
          <p>
            <form @submit.prevent="setUsername">
              <input v-model="preferredUsername" placeholder="Choose a username..."/>
              <input type="submit" value="Request Username"/>
            </form>
            {{ usernameResult }}
          </p>
    
          <p>
            My Name: <name :actor="$gf.me" :editable="true"></name>
          </p>
    
          <p> My Profile Picture: </p>
          <profile :actor="$gf.me" :editable="true"></profile><br>
          
        </div>
      </div>
        
      
      
      <div id="below">
        <p v-if="!privateMessaging">
          <label for="channel">
            Change the channel you're chatting in:
          </label>
          <input id="channel" v-model="channel"/>
        </p>
        <!-- Begin problem 2 solution -->
        <div v-else>
          <form @submit.prevent="chatWithUser">
            <label for="recipient">
              Type the user ID of who you'd like to chat with:
            </label>
            <input id="recipient" v-model="recipientUsernameSearch"/>
            <input type="submit" value="Search"/>
          </form>
          <button v-if="recipient != $gf.me" @click="chatSelf" id ="right">Chat With Self</button>
          <span v-if="recipient">
            <profile :actor="recipient"></profile>
            Chatting with <b>{{ recipientUsername }}</b>
          </span>
          <span v-else>
            Username {{ recipientUsername }} does not exist!
          </span>
        </div>
        <!-- End problem 2 solution -->

        <!-- A form for sending messages -->
        <form @submit.prevent="sendMessage">
          <textarea type="textbox" id="message"  v-model="messageText" placeholder="Type a message..." @input="resizeTextarea"></textarea>
          <input type="file" accept="image/*" @change="onImageAttachment"/>
          <div class="send-group" id="right">
            <input type="submit" class="send-btn" value="Send">
            <div class="dropdown">
              <button class="dropbtn" @click="disableButton" :disabled="buttonDisabled" aria-haspopup="true" aria-expanded="false">
                <span class="caret-down"></span>
              </button>
              <div class="dropdown-content">
                <input id="copyBtn" value="Copy to Clipboard" @click="copyText"/>
                <input value="Send to Self"  @click="sendToSelf"/>
                </div>
              </div>
            </div>
          </div>
        </form>

        <ul>
          <!-- List all the messages -->
          <li v-for="message of messages" :key="message.id">

            <!-- Display and edit form if we're editing a message -->
            <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
              <input v-model="editText">
              <input type="submit" value="Save"/>
            </form>

            <!-- Otherwise, display a bunch of properties from the message -->
            <ul v-else>
              <profile :actor="message.actor"></profile>
              <li><b><name :actor="message.actor"></name></b> (@{{ actordict[message.actor] }}) says: </li>
              <li id="content">{{ message.content }}</li>
              <li v-if="message.attachment && message.attachment.magnet">
                <magnet-img :src="message.attachment.magnet"></magnet-img>
              </li>

              <div id="inner">
                <li>(Message updated {{ message.updated }})</li>            
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <template v-if="message.actor==$gf.me">
                  <li>
                    <button @click="startEditMessage(message)">Edit Message</button>
                  </li>
                  <li>
                    <button @click="removeMessage(message)" id="right">Delete Message</button>
                  </li>
                </template>
                <like :messageid="message.id"></like>
                <read :messageid="message.id" :actordict="actordict"></read>
                <reply :messageid="message.id" :actordict="actordict"></reply>  
              </div>
            </ul>
            <hr>
          </li>
        </ul>
      </div>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="like">
    <button @click="toggleLike">
      {{ myLikes.length? 'Unlike' : 'Like' }}
    </button>
    # of likes:  {{ numLikes }}
  </template>

  <template id="read">
    <details>
      <summary><b>Read By</b>: {{ readsUsers.length }}</summary>
      <ol>
        <li v-for="item in readsUsers"><name :actor="item"></name></li>
      </ol>
    </details>
  </template>

  <template id="profile">
    <magnet-img :src="profile?profile.icon.magnet:anonymous" id="profile"></magnet-img>

    <form v-if="editable" @submit.prevent="savePicture">
      Choose a profile Picture:
      <input type="file" accept="image/*" @change="onPicture"/>
      <input type="submit" value="Save"/>
    </form>
  </template>

  <template id="reply">
    <details>
      <summary><b>Replies</b>: {{ replies.length }}</summary>
      <form @submit.prevent="sendMessage">
        <textarea type="textbox" id="message"  v-model="messageText" placeholder="Type a message..." @input="resizeTextarea"></textarea>
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <div class="send-group" id="right">
          <input type="submit" class="send-btn" value="Send">
          <div class="dropdown">
            <button class="dropbtn" @click="disableButton" :disabled="buttonDisabled" aria-haspopup="true" aria-expanded="false">
              <span class="caret-down"></span>
            </button>
          </div>
        </div>
      </form><br>

      <ul>
        <!-- List all the messages -->
        <li v-for="message of replies" :key="message.id">

          <!-- Display and edit form if we're editing a message -->
          <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
            <input v-model="editText">
            <input type="submit" value="Save"/>
          </form>

          <!-- Otherwise, display a bunch of properties from the message -->
          <ul v-else>
            <profile :actor="message.actor"></profile>
            <li><b><name :actor="message.actor"></name></b> (@{{ actordict[message.actor] }}) says: </li>
            <li id="content">{{ message.content }}</li>
            <li v-if="message.attachment && message.attachment.magnet">
              <magnet-img :src="message.attachment.magnet"></magnet-img>
            </li>

            <div id="inner">
              <li>(Message updated {{ message.updated }})</li>            
              <!-- Only add these controls if the message is ours -->
              <!-- You can't edit or delete other people's messages -->
              <template v-if="message.actor==$gf.me">
                <li>
                  <button @click="startEditMessage(message)">Edit Message</button>
                </li>
                <li>
                  <button @click="removeMessage(message)" id="right">Delete Message</button>
                </li>
              </template>
              <like :messageid="message.id"></like>
              <read :messageid="message.id" :actordict="actordict"></read>
              <reply :messageid="message.id" :actordict="actordict"></reply> 
            </div>
          </ul>
          <hr>
        </li>
      </ul>
    </details>
  </template>

</body>
</html>
