#usernameError {
    display: none;
    color: red
}

#recipientError {
    display: none;
    color: red
}


ul {
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;
}

textarea {
    width: 100%;
}

textarea:not(:empty) {
    height: auto;
  }

#right {
    float: right;
    display: block;
}

body {
    margin-left: 20%;
    margin-right: 20%;
}

details li {
    margin-left: 15px;
}

#content {
    margin-left: 15px;
    margin-right: 15px;
}

#inner {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

button, input[type=submit] {
    background-color: #eee;
    border-style: solid;
    border: 1px;
    border-color: black;
    transition: background-color 0.1s;
}


button:hover, input[type=submit]:hover {
    background-color: rgb(117, 180, 201);
}


.tab {
    display: flex;
}
  
.tab-switch {
    display: none;
  }
  
.tab label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.tab label:hover {
    background-color: rgb(117, 180, 201);
}

.tab label:focus,

.tab label:active {
    background-color: rgb(117, 180, 201);
    transition: color 0.1s;
}

.tab-switch:checked + label {
    background-color: rgb(117, 180, 201);
    color: #fff;
    transition: color 0.1s;
}

.tab .tab-switch:nth-of-type(2) + label {
    border-radius: 0 0 5px 5px;
}


#message {
    resize: none;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 30vh;
    transition: height 0.3s ease;
    outline: none;
  }

img {
    max-width: 100vh;
}

#profile {
    height: 150px;
    border-radius: 50%;
}

